# general purpose tools
Cython==0.28.5
overrides==1.9
tqdm==4.23.4
h5py==2.8.0
pyopenssl==18.0.0

# data tools
numpy==1.14.5
pandas==0.23.1
scipy==1.1.0
keras==2.2.0
scikit-learn==0.19.1

# NLP tools
nltk==3.2.5
fuzzywuzzy==0.16.0
rusenttokenize==0.0.4
pymorphy2==0.8
pymorphy2-dicts-ru

# integration tools
requests==2.19.1
aiohttp==3.5.4
aiodns==2.0.0
flask==1.0.2
flasgger==0.9.1
flask_cors==3.0.6
pytelegrambotapi==3.5.2